:root {
  --white: #ffffff;
  --black: #000000;
  --grey: #666666;
  --violet: #672280;
  --magenta: #a626d3;
  --light-violet: #c7a4d4;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}

body {
  background-color: var(--light-violet);
}

#root {
  width: 60%;
  height: 100%;
  margin: 20px auto;
  background-color: var(--white);
  border-radius: 8px;
}

@media (max-width: 600px) {
    #root {
      width: 96%;
    }
}